VSGenero/Genero4GL.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="Genero4GL"
    targetNamespace="GeneroXML"
    elementFormDefault="qualified"
    xmlns="GeneroXML"
    xmlns:mstns="GeneroXML"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:simpleType name="GeneroLanguageVersion">
    <xs:restriction base="xs:string">
      <xs:enumeration value="2.32"/>
      <xs:enumeration value="2.40"/>
      <xs:enumeration value="2.41"/>
      <xs:enumeration value="2.50"/>
      <xs:enumeration value="3.00"/>
      <xs:enumeration value="3.10"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="Genero4GL">
    <xs:complexType>
      <xs:all>
        <xs:element name="Parsing">
          <xs:complexType>
            <xs:all>
              <xs:element name="Functions">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Context" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Function" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:all>
                                <xs:element name="Parameters">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="Parameter" maxOccurs="unbounded" minOccurs="0">
                                        <xs:complexType>
                                          <xs:attribute name="name" type="xs:string"/>
                                          <xs:attribute name="type" type="xs:string"/>
                                          <xs:attribute name="desc" type="xs:string" use="optional"/>
                                          <xs:attribute name="required" type="xs:boolean" use="optional"/>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="Returns">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="Return" maxOccurs="unbounded" minOccurs="0">
                                        <xs:complexType>
                                          <xs:attribute name="name" type="xs:string"/>
                                          <xs:attribute name="type" type="xs:string"/>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="Documentation" type="xs:string" minOccurs="0" />
                              </xs:all>
                              <xs:attribute name="name" type="xs:string"/>
                              <xs:attribute name="description" type="xs:string"/>
                              <xs:attribute name="minVersion" type="GeneroLanguageVersion" use="optional"/>
                              <xs:attribute name="maxVersion" type="GeneroLanguageVersion" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="name" type="xs:string"/>
                        <xs:attribute name="desc" type="xs:string"/>
                        <xs:attribute name="minVersion" type="GeneroLanguageVersion" use="optional"/>
                        <xs:attribute name="maxVersion" type="GeneroLanguageVersion" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Packages">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Package" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Classes">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Class" maxOccurs="unbounded" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="Methods">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="Method" maxOccurs="unbounded" minOccurs="0">
                                              <xs:complexType>
                                                <xs:all>
                                                  <xs:element name="Parameters">
                                                    <xs:complexType>
                                                      <xs:sequence>
                                                        <xs:element name="Parameter" maxOccurs="unbounded" minOccurs="0">
                                                          <xs:complexType>
                                                            <xs:attribute name="name" type="xs:string"/>
                                                            <xs:attribute name="type" type="xs:string"/>
                                                          </xs:complexType>
                                                        </xs:element>
                                                      </xs:sequence>
                                                    </xs:complexType>
                                                  </xs:element>
                                                  <xs:element name="Returns">
                                                    <xs:complexType>
                                                      <xs:sequence>
                                                        <xs:element name="Return" maxOccurs="unbounded" minOccurs="0">
                                                          <xs:complexType>
                                                            <xs:attribute name="name" type="xs:string"/>
                                                            <xs:attribute name="type" type="xs:string"/>
                                                          </xs:complexType>
                                                        </xs:element>
                                                      </xs:sequence>
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:all>
                                                <xs:attribute name="name" type="xs:string"/>
                                                <xs:attribute name="desc" type="xs:string"/>
                                                <xs:attribute name="scope">
                                                  <xs:simpleType>
                                                    <xs:restriction base="xs:string">
                                                      <xs:enumeration value="static"/>
                                                      <xs:enumeration value="instance"/>
                                                    </xs:restriction>
                                                  </xs:simpleType>
                                                </xs:attribute>
                                                <xs:attribute name="minVersion" type="GeneroLanguageVersion" use="optional"/>
                                                <xs:attribute name="maxVersion" type="GeneroLanguageVersion" use="optional"/>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="name" type="xs:string"/>
                                    <xs:attribute name="isStatic" type="xs:boolean"/>
                                    <xs:attribute name="minVersion" type="GeneroLanguageVersion" use="optional"/>
                                    <xs:attribute name="maxVersion" type="GeneroLanguageVersion" use="optional"/>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="name" type="xs:string"/>
                        <xs:attribute name="type">
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:enumeration value="builtin"/>
                              <xs:enumeration value="extension"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="minVersion" type="GeneroLanguageVersion" use="optional"/>
                        <xs:attribute name="maxVersion" type="GeneroLanguageVersion" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ImportModules">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ImportModule" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Function" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:all>
                                <xs:element name="Parameters">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="Parameter" maxOccurs="unbounded" minOccurs="0">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="AllowedValues" minOccurs="0" maxOccurs="1">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="AllowedValue" minOccurs="1" maxOccurs="unbounded">
                                                    <xs:complexType>
                                                      <xs:simpleContent>
                                                        <xs:extension base="xs:string">
                                                          <xs:attribute name="desc" type="xs:string" use="optional"/>
                                                        </xs:extension>
                                                      </xs:simpleContent>
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                          <xs:attribute name="name" type="xs:string"/>
                                          <xs:attribute name="type" type="xs:string"/>
                                          <xs:attribute name="desc" type="xs:string"/>
                                          <xs:attribute name="required" type="xs:boolean"/>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="Returns">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="Return" maxOccurs="unbounded" minOccurs="0">
                                        <xs:complexType>
                                          <xs:attribute name="name" type="xs:string"/>
                                          <xs:attribute name="type" type="xs:string"/>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="Documentation" type="xs:string" minOccurs="0" />
                              </xs:all>
                              <xs:attribute name="name" type="xs:string"/>
                              <xs:attribute name="description" type="xs:string"/>
                              <xs:attribute name="minVersion" type="GeneroLanguageVersion" use="optional"/>
                              <xs:attribute name="maxVersion" type="GeneroLanguageVersion" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="name" type="xs:string"/>
                        <xs:attribute name="desc" type="xs:string"/>
                        <xs:attribute name="minVersion" type="GeneroLanguageVersion" use="optional"/>
                        <xs:attribute name="maxVersion" type="GeneroLanguageVersion" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:all>
          </xs:complexType>
        </xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>
</xs:schema>
